.screen-container {
    visibility: hidden;
    background-color: rgba(255, 255, 255, 0.8);
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 150px;
    top: 100px;
    position: absolute;
    -webkit-box-shadow: 10px 10px 30px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 30px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 30px -5px rgba(0, 0, 0, 0.75);
}

#sound-mute-btn {
    position: absolute;
    background-color: transparent;
}